@{
    ViewData["Title"] = "JuStore";
}


    <div class="mainbody">     
        <img src="~/images/Rectangle 2.svg" alt="" class="search0"/>
        <img src="~/images/Rectangle 3.svg" alt="" class="visual"/>
        <h1 class="SearchText">П О И С К</h1>
       <div class="fake">
              <img class="photomain" src="~/images/Main.svg"/>      
              <h2 class="MainText">Добро пожаловать в JuStore</h2>
              <h1 class="DopText">Продажа аниме-продукции по низким ценам: тематическая одежда, фигурки, значки со всего мира!</h1>  
       </div>
    </div>
    <div class="infobody">
        <h2 class="infoheader" id="weare">Информация магазина</h2>
        <hr/>
              <div class="infoblock">           
            <div class="infophoto"><img src="~/images/Techno.svg" alt="" class="infophotoURL"></div>
            <p class="text">Наша продукция имеет наивысшее качество на рынке. Большую часть вещей мы производим сами, меньшую — покупаем у лучших поставщиков. Подберите себе что-либо на свой вкус!</p> 
            <div class="infophoto">
                <h2 class="FirstH">О нас</h2>
                <h2 class="First2">Работаем с 2022 года — 25 октября.</h2>
                <h3 class="FirstH2">Продукция</h3>
                <img  src="~/images/Back1.svg" alt="" class="infophotoURL"></div>
        </div>
        <div class="infoblock2">
             <div class="infophoto">
                <h2 class="FirstH1">Мы работаем, чтобы вы отдыхали!</h2>
                <h3 class="FirstH2">О режиме работы</h3>
                <p class="text1">Мы работаем 24 часа в сутки без перерывов. Заказы оформляются с наилучшей и наивысшей скоростью, доставка же будет осуществлена с 06:00 утра до 21:00 вечера.</p> 
                <img src="~/images/Back2.svg" alt="" class="infophotoURL"/>
            </div>
            <div class="infophoto"><img src="~/images/Tandziro.svg" alt="" class="infophotoURL"/></div>
        </div>
</div>
    <div class="productpreview">
    <div class="infobody">
             <h2 class="infoheader" id="weare">Предпросмотр товара</h2>
    </div>
     <hr/>
</div>
    <div class="productpreview">
    <div class="infobody">
             <h2 class="infoheader" id="weare">Предпросмотр товара</h2>
    </div>
     <hr/>
    </div>
    <div class="LastDiv">
        <div class="ImFirst">
            <img class="Logo2" src="~/images/Logo2.svg"/>
            <p class="newtext">JuStore — это Российский магазин о продаже красивых, качественных товарах из различных стран-партнёров. Вы можете свободно обратиться к нашей технической поддержке в любое время, после чего получите самый оперативный ответ в течении нескольких часов. Мы работаем, чтобы вы отдыхали с хорошим настроением!</p>
        <hr class="hr"/>
        <p class="newtext1">copyright 2022 JuStore</p>
        </div>
        <div class="ImSecond"></div>
    </div>