
@{
    ViewData["Title"] = "Index";
}

<body class="AuthingMain">
<div class="AuthingMain1">
    <div class="One">
        <input class="gmail" name="gmail" type="email" placeholder="Enter your gmail"/>
        <input class="pass" name="password" type="password" placeholder="Enter your password"/>
        <button class="BTNAuth" name="BTNAuth" type="button" value="TextTest">Login</button>
         <button class="BTNAuth1" name="BTNAuth" type="button" asp-controller="Reg" asp-action="Index">Forgot your password?</button>
    </div>
    <div class="Two"></div>
    <div class="Free"></div>
</div>
</body>